
<%- include("header") %> 

<!-- <h1><%= data.date.getFullMonth.length %></h1> -->

<div class="container-fluid">

  
  
    <div class="containertt">
        <div class="calendar">
          <div class="front">
            <div class="current-date">
              <h1 class=" fs-4">วันที่  <%= parseInt(data.date.getDay) %> </h1>
              <h1 class=" fs-4">เดือน <%= parseInt(data.date.getMonth)+1 %>   <%=   data.date.getYear %></h1>	
            </div>
  
            <div class="current-month">
              <!-- <ul class="week-days">
                <li>MON</li>
                <li>TUE</li>
                <li>WED</li>
                <li>THU</li>
                <li>FRI</li>
                <li>SAT</li>
                <li>SUN</li>
              </ul> -->
            <div class="weeks">

              <% for(let i =0;i<35;i++){%>

                <% if(i < data.date.getFullMonth.length){ %> 
                  <% let show = 0; %> 
                      <% if(i<9){
                        show = "0" + (i+1).toString();
                      }else{
                        show = i+1
                      } %> 

                      <% if(i % 7 == 0){%>

                        <div class="first">
                            <span id="sp<%- show %>" data-bs-toggle="modal" data-bs-target="#insert" onclick="genDate('<%-show %>','<%-data.date.getMonth %>')"><%= show %> </span>
                            
                      <%}else if( (i % 7 == 6)){%>

                            <span id="sp<%- show %>" data-bs-toggle="modal" data-bs-target="#insert" onclick="genDate('<%-show %>','<%-data.date.getMonth %>')"><%= show %> </span>
                        </div>

                      <%}else{%>

                        <span id="sp<%- show %>" data-bs-toggle="modal" data-bs-target="#insert" onclick="genDate('<%-show %>','<%-data.date.getMonth %>')"><%= show %> </span>

                      <%}%>
                  <% }else{%> 
                      <span style="visibility:hidden">00</span>
                  <% } %> 
           
              <%}%> 
            </div>    
              
              <!-- <div class="weeks">
                <div class="first">
                  <span class="last-month">28</span>
                  <span class="last-month">29</span>
                  <span class="last-month">30</span>
                  <span class="last-month">31</span>
                  <span>01</span>
                  <span>02</span>
                  <span>03</span>
                </div>
  
                <div class="second">
                  <span>04</span>
                  <span>05</span>
                  <span class="event">06</span>
                  <span>07</span>
                  <span>08</span>
                  <span>09</span>
                  <span>10</span>
                </div>
  
                <div class="third">
                  <span>11</span>
                  <span>12</span>
                  <span>13</span>
                  <span>14</span>
                  <span class="active">15</span>
                  <span>16</span>
                  <span>17</span>
                </div>
  
                <div class="fourth">
                  <span>18</span>
                  <span>19</span>
                  <span>20</span>
                  <span>21</span>
                  <span>22</span>
                  <span>23</span>
                  <span>24</span>
                </div>
  
                <div class="fifth">
                  <span>25</span>
                  <span>26</span>
                  <span>27</span>
                  <span>28</span>
                  <span>29</span>
                  <span>30</span>
                  <span>31</span>
                </div> -->

              <!-- </div> -->
            <!-- </div> -->
          </div>
  
          
  
      </div>
      </div>
      </div>

    </div>

    <div class="container">
      
      <div class="row mt-5">
        <!-- <div class="col-3"></div> -->
          <div class="col-12">
            <div class="card" >
              <div class="card-body">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">วันที่</th>
                    <th scope="col">เวลาเริ่ม</th>
                    <th scope="col">เวลาหยุด</th>
                    <th scope="col">ชั่วโมงที่ได้</th>
                    <th scope="col">ความคิดเห็น</th>
                    <th scope="col">ตั้งค่า</th>
                  </tr>
                </thead>
                <tbody>

                    <% for(let i of data.userData){%> 
                      
                      <tr>
                        <th scope="row"><%=i.date %></th>
                        <td ><%=i.start %></td>
                        <td ><%=i.stop %></td>
                        <td ><%=i.time %></td>
                        <td ><%=i.comment_data %></td>
                        <td ><button class="btn btn-danger p-1 px-2" onclick="del('<%-i.id%>')">ลบ</button></td>
                      </tr>
                    <% } %> 
                    
                
                </tbody>
              </table>
            </div>
          </div>

            <div class="mt-4">
              <div class="card" style="width: 18rem;">
                <div class="card-body btn text-start">
                  <h5 class="card-title fs-4 fw-bold">สรุป เดือน ..</h5>

                    <table class="table table-borderless">
                      <tbody>
                        <tr class=" ">
                          <td class="">รวมเวลา :</td>
                          <td colspan="2"><%=data.getAll_time %> ชั่วโมง</td>
                        </tr>
                        <tr class="">
                          <td >รวมเงินที่ได้ :</td>
                          <td colspan="2"><%=data.getAll_money %> บาท</td>
                        </tr>
                      </tbody>
                    </table>


                </div>
              </div>
              
            </div>


          </div>
          
      </div>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="insert" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" onfocus="">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modal_title">ลงเวลางาน </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!-- <div class="row" id="select_mode">
          
            <div class="col-6" id="mode_add" onclick="mode_add()">
                <div class="card btn">
                  <div class="card-body">
                    ลงเวลางาน
                  </div>
                </div>
            </div>
            <div class="col-6" id="mode_watch">
              <div class="card btn" onclick="mode_watch()">
                <div class="card-body">
                  ดูเวลางาน
                </div>
              </div>
            </div>

        </div> -->
        <form action="/save_time" method="post">

        <div id="to_add" class="mb-3 row text-center ">

          <div class="col-4 ">
            <p for="inputMDEx1 " class="mt-3"  >เวลาเริ่ม</p>
          </div>
          <div class="col-8">
            <input type="time" id="inputMDEx1" class="form-control mt-2" name="start">
          </div>

          <div class="col-4 ">
            <p for="inputMDEx1 " class="mt-3"  >เวลาหยุด</p>
          </div>
          <div class="col-8">
            <input type="time" id="inputMDEx1" class="form-control mt-2" name="stop">
          </div>
          <div class="col-4 ">
            <p for="inputMDEx1 " class="mt-3"  >comment</p>
          </div>
          <div class="col-8">
            <input type="text" id="inputMDEx1" class="form-control mt-2" name="comment">
          </div>

          <input type="text" class="d-none" name="month_in" value="">
          <input type="text" class="d-none" name="day_in" value="">

        </div>


      </div>

      <div class="modal-footer">
        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" onclick="return vali_save()">Save</button>
      </div>
    </form>

    </div>
  </div>
</div>


<!-- select วันที่เคยลงเวลางานเเล้ว -->
<% for(let i of data.userData ){%>
    <script>
      document.getElementById('sp<%-i.date%>').classList.add("active");
    </script>

<%}%> 



<script>

  

  // let add  = document.getElementById("mode_add");
  // let watch  = document.getElementById("mode_watch");
  // add.classList.remove('d-none');
  // watch.classList.remove('d-none');


  // function mode_add(){
  //   let add  = document.getElementById("mode_add");
  //   let watch  = document.getElementById("mode_watch");
  //   let to_add  = document.getElementById("to_add");
  //   add.classList.add('d-none');
  //   watch.classList.add('d-none');
  //   to_add.classList.remove('d-none');
  // }
  
  function del(id){
    if( confirm('ยืนยัน') == true){
        window.location = `/del?id=${id}`
    }
    console.log("id : "+id);
  }

  function genDate(dat,mon){
    const month = ["มกราคม","กุมภาพันธ์","มีนาคม","เมษายน","พฤษภาคม","พฤษภาคม","กรกฎาคม","สิงหาคม","กันยายน","ตุลาคม","พฤศจิกายน","ธันวาคม"];
    let title = document.querySelector("#modal_title")
    let month_get = document.querySelector("input[name=month_in]").value=parseInt(mon)+1;
    let day_get = document.querySelector("input[name=day_in]").value=dat;
    title.innerText ="ลงเวลางาน - "+ dat +"/"+month[mon];
  }

  function vali_save(){
    let start = document.querySelector("input[name=start]").value;
    let stop = document.querySelector("input[name=stop]").value;
    let comment = document.querySelector("input[name=comment]").value;
    let month = document.querySelector("input[name=month_in]").value;
    let day = document.querySelector("input[name=day_in]").value;
    console.log(start,stop,comment,month,day);
    if( start == '' || stop == '' ){
      alert('ใส่ให้เวลาหน่อยจิ');
      return false ;
    }else{

      return true;
    }
    
  }

</script>

<%- include("footer") %> 


