
<%- include("header") %> 

<!-- <h1><%= data.date.getFullMonth.length %></h1> -->

<div class="container-fluid">
    <div class="containertt">
        <div class="calendar">
          <div class="front">
            <div class="current-date">
              <h1 class=" fs-4  ">วันที่  <%= parseInt(data.date.getDay) %> </h1>
              <h1 id="showMonth" class=" fs-4 "><%=data.date.getNameMonth%> <%=data.date.getYear%></h1>	
            </div>
            <div class="current-month">
            <div class="weeks">

              <% for(let i =0;i<35;i++){%>

                <% if(i < data.date.getFullMonth.length){ %> 
                  <% let show = 0; %> 
                      <% if(i<9){
                        show = "0" + (i+1).toString();
                      }else{
                        show = i+1
                      } %> 

                      <% if(i % 7 == 0){%>

                        <div class="first">
                            <span id="sp<%- show %>" data-bs-toggle="modal" data-bs-target="#insert" onclick="genDate('<%-show %>','<%-data.date.getMonth %>')"><%= show %> </span>
                            
                      <%}else if( (i % 7 == 6)){%>

                            <span id="sp<%- show %>" data-bs-toggle="modal" data-bs-target="#insert" onclick="genDate('<%-show %>','<%-data.date.getMonth %>')"><%= show %> </span>
                        </div>

                      <%}else{%>

                        <span id="sp<%- show %>" data-bs-toggle="modal" data-bs-target="#insert" onclick="genDate('<%-show %>','<%-data.date.getMonth %>')"><%= show %> </span>

                      <%}%>
                  <% }else{%> 
                      <span style="visibility:hidden">00</span>
                  <% } %> 
           
              <%}%> 
            </div>    
              
              
          </div>
  
          
  
      </div>
      </div>
      </div>

    </div>

    <div class="container">
      
      <div class="row mt-5">
        <!-- <div class="col-3"></div> -->
          <div class="col-12">
            <div class="card" >
              <div class="card-body">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">วันที่</th>
                    <th scope="col">เวลาเริ่ม</th>
                    <th scope="col">เวลาหยุด</th>
                    <th scope="col">ชั่วโมงที่ได้</th>
                    <th scope="col">ความคิดเห็น</th>
                    <th scope="col">ตั้งค่า</th>
                  </tr>
                </thead>
                <tbody>

                    <% for(let i of data.userData){%> 
                      
                      <tr>
                        <th scope="row"><%=i.date %></th>
                        <td ><%=i.start %></td>
                        <td ><%=i.stop %></td>
                        <td ><%=i.time %></td>
                        <td ><%=i.comment_data %></td>
                        <td ><button class="btn btn-danger p-1 px-2" onclick="del('<%-i.id%>')">ลบ</button></td>
                      </tr>
                    <% } %> 
                    
                
                </tbody>
              </table>
            </div>
          </div>

            <div class="mt-4">

              <div class="row">

                <div class="col-4" >
                  <div class="card" style="width: 18rem;">
                    <div class="card-body btn text-start">
                      <h5 class="card-title fs-4 fw-bold d-inline"><%=data.session.user %> </h5>
                      <h5 id="summary" class="card-title fs-4 fw-bold d-inline float-end"><%=data.date.getNameMonth%> <%=data.date.getYear%> </h5>

                        <table class="table table-borderless">
                          <tbody>
                            <tr class=" ">
                              <td class="">รวมเวลา :</td>
                              <td colspan="2"><%=data.getAll_time %> ชั่วโมง</td>
                            </tr>
                            <tr class="">
                              <td >รวมเงินที่ได้ :</td>
                              <td colspan="2"><%=data.getAll_money %> บาท</td>
                            </tr>
                          </tbody>
                        </table>


                    </div>
                  </div>
                </div>
              
                
                
              </div>
              

            </div>


          </div>
          
      </div>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="insert" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" onfocus="">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modal_title">ลงเวลางาน </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/save_time" method="post">

        <div id="to_add" class="mb-3 row text-center ">

          <div class="col-4 ">
            <p for="inputMDEx1 " class="mt-3"  >เวลาเริ่ม</p>
          </div>
          <div class="col-8">
            <input type="time" id="inputMDEx1" class="form-control mt-2" name="start">
          </div>

          <div class="col-4 ">
            <p for="inputMDEx1 " class="mt-3"  >เวลาหยุด</p>
          </div>
          <div class="col-8">
            <input type="time" id="inputMDEx1" class="form-control mt-2" name="stop">
          </div>
          <div class="col-4 ">
            <p for="inputMDEx1 " class="mt-3"  >comment</p>
          </div>
          <div class="col-8">
            <input type="text" id="inputMDEx1" class="form-control mt-2" name="comment">
          </div>

          <input type="text" class="d-none" name="month_in" value="">
          <input type="text" class="d-none" name="day_in" value="">

        </div>


      </div>

      <div class="modal-footer">
        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" onclick="return vali_save()">Save</button>
      </div>
    </form>

    </div>
  </div>
</div>


<!-- select วันที่เคยลงเวลางานเเล้ว -->
<% for(let i of data.userData ){%>
    <script>
      document.getElementById('sp<%-i.date%>').classList.add("active");
    </script>

<%}%> 



<script>

  
  function del(id){
    if( confirm('ยืนยัน') == true){
        window.location = `/del?id=${id}`
    }
    console.log("id : "+id);
  }

  function genDate(dat,mon){
    let start = document.querySelector("input[name=start]").value="";
    let stop = document.querySelector("input[name=stop]").value="";
    let comment = document.querySelector("input[name=comment]").value="";

    const month = ["มกราคม","กุมภาพันธ์","มีนาคม","เมษายน","พฤษภาคม","พฤษภาคม","กรกฎาคม","สิงหาคม","กันยายน","ตุลาคม","พฤศจิกายน","ธันวาคม"];
    let title = document.querySelector("#modal_title")
    let month_get = document.querySelector("input[name=month_in]").value=parseInt(mon)+1;
    let day_get = document.querySelector("input[name=day_in]").value=dat;

    title.innerText ="ลงเวลางาน - "+ dat +" "+month[mon];
  }

  function vali_save(){
    let start = document.querySelector("input[name=start]").value;
    let stop = document.querySelector("input[name=stop]").value;
    let comment = document.querySelector("input[name=comment]").value;
    let month = document.querySelector("input[name=month_in]").value;
    let day = document.querySelector("input[name=day_in]").value;
    console.log(start,stop,comment,month,day);
    if( start == '' || stop == '' ){
      alert('ใส่ให้เวลาหน่อยจิ');
      return false ;
    }else{

      return true;
    }
    
  }

</script>

<%- include("footer") %> 


